.margin{
	margin-top: 21%;
	height: 10%;
	-webkit-background-size: 100% 400px;
	-moz-background-size: 100% 400px;
	-o-background-size: 100% 400px;

	animation: galeria;
	-webkit-animation:galeria;
	-o-animation:galeria;
	-moz-animation:galeria;
		
	-webkit-animation-duration: 3s;
		-o-animation-duration: 3s;
		animation-duration: 3s;
}

.padding-galeria{
	margin-top:0%;padding-right: 0px;padding-left: 26px;
}
.padding-left{
	  padding-left: 0px;
	  padding-right: 0px;
}
.padding-l{
	padding-left: -23px; 
}
button .margenes{

	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	border-top-width:0%;
	border-bottom-width: 0%;
	border-right-width: 0%;
	border-left-width: 0%; 
}
.margen{
	margin-top: 5%;
	margin-left: 4%;
 	margin-right: 4%;
}
.alto{
	height: 10%;
}
.ajustarTam{
	width: 100%;
	margin: 0%;
	padding: 0%;
}
.top-buffer{
	margin-top: 5%;
}

.fondo
{
	background-color:#000000; 
}
.letra
{
	font-family: sans-serif;
	color:#281AA5;
}
.borde
{
	border-style:none;
}
.margen
{
	padding-right: 0%;
	padding-left: 0%;
}
.alto
{
	margin-top: 0%;
	margin-bottom: 0%; 
}
.titulo
{
	font-size: 30%;
	
}
.panel-title
{
	font: sans-serif;
	font-size: 24px;
}
.navbar{
	min-height: 43px;
	margin-bottom: 0%;
}
.margin-b
{
	margin-bottom: 2%;
}
.container
{
	 
	  padding-left: 0%;
	  padding-right: 0%;
}

#contenedorFooter
{
	
	width: 100%;
	background-color: rgba(7,137,48,1);
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff; 
	display: inline-block;
}

.imgItemPanelFoter{
	float: left;
	margin-left: 40%;
	width: 20px;
	height: 20px;
}

.itemPanelFooter .enlace{
	text-decoration: none;
}

.row > a{
	  margin-right: 20%;
	  float: left;
	  margin-left: 1%;
	  color: #FFFFFF;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.itemPanelFooter  .imgItemPanelFoter img
{
	width: 100%;
}
#contenedorFooter > .row{
	margin-top: 6px;
}
.margin-bottom{
	margin-bottom: 2%;
}
.fondo-B{
	background-color: rgb(229,233,236); 
}
.nav-pills > li.active > a:hover{
	background-color: rgba(252,221,9,0.9);
}
h3{
	font-size: 20px;
}

/*------------------------*/
/*Nuevos colores pagina*/
/*------------------------*/
.nav > li > a:hover, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:focus{
	background-color: #078930;
}
.btn-primary
{
	color: #FFFFFF;
	background-color: rgba(7,137,48,0.9);
	border-color: rgba(7,137,48,0.9);
}
.btn-danger
{
	color: #FFFFFF;
	background-color:rgba(252,221,9,0.9) ;
	border-color: rgba(252,221,9,0.9);
	border-radius: 0px;
}
.btn-danger2
{
	color: #FFFFFF;
	background-color:rgba(7,137,48,0.9);
	border-color: rgba(7,137,48,0.9);
	border-radius: 0px;
}

.panel-primary > .panel-heading 
{
  color: #fff;
  background-color: rgba(7,137,48,1);
  border-color: #078930;
   
}
.nav > li > a
{
	color: #FFFFFF;
  text-decoration: none;
}
.nav{
	  width: 100%;
}
.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}
.dropdown-menu > li > a:hover{
	background-color: #E5E9EC;
}
.navbar-nav > li > a {
  margin-left: 2%;
}
h4{
	margin-left: 1%;
}
.dropdown-menu > li > a {
  margin-left: %;
}
.dropdown-menu > li{
	margin-left: 0%;
}
.dropdown-menu{
	  margin-left: 7%;
}
.tamano-usuario-sesion{
	height: 36px;width: 184px;
	margin-top: 2%;
}
.justificado{
	text-align: justify;
}
.panelReg{
	  margin-left: 21%;
}
@media (max-width: 768px)
{
	.panel-body
	{
	  padding-top: 15px;
	  padding-bottom: 15px;
	  padding-left: 0%;
	  padding-right: 0%;
	}
	.margin{
		padding-left: 0%;
		padding-right: 0%;

	}
	.row > a 
	{
  		text-align: center;
  		width: 100%;
	}
	.margin-bottom
	{
		margin-bottom: 3%;	
	}
	.panel-title{
		font: sans-serif;
		font-size: 20px;	
	}

}