.margin{
	margin-top: 21%;
	height: 10%;
	-webkit-background-size: 100% 400px;
	-moz-background-size: 100% 400px;
	-o-background-size: 100% 400px;

	animation: galeria;
	-webkit-animation:galeria;
	-o-animation:galeria;
	-moz-animation:galeria;
		
	-webkit-animation-duration: 3s;
		-o-animation-duration: 3s;
		animation-duration: 3s;
}
.padding-left{
	  padding-left: 8px;
	  padding-right: 7px;
}
.padding-l{
	padding-left: -23px; 
}
button .margenes{

	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	border-top-width:0%;
	border-bottom-width: 0%;
	border-right-width: 0%;
	border-left-width: 0%; 
}
.margen{
	margin-top: 5%;
}
.alto{
	height: 10%;
}
.ajustarTam{
	width: 100%;
	margin: 0%;
	padding: 0%;
}
.top-buffer{
	margin-top: 5%;
}
.fondo
{
	background-color:#00021C; 
}
.letra
{
	font-family: sans-serif;
	color:#281AA5;
}
.fondopagina
{
	background-color:#FFFFFF; 
}
.borde
{
	border-style:solid;
	border-width: medium;
}




