.margin{
	margin-top: 21%;
	height: 10%;
	-webkit-background-size: 100% 400px;
	-moz-background-size: 100% 400px;
	-o-background-size: 100% 400px;

	animation: galeria;
	-webkit-animation:galeria;
	-o-animation:galeria;
	-moz-animation:galeria;
		
	-webkit-animation-duration: 3s;
		-o-animation-duration: 3s;
		animation-duration: 3s;
}
.padding-left{
	  padding-left: 0px;
	  padding-right: 7px;
}
.padding-l{
	padding-left: -23px; 
}
button .margenes{

	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	border-top-width:0%;
	border-bottom-width: 0%;
	border-right-width: 0%;
	border-left-width: 0%; 
}
.margen{
	margin-top: 5%;
}
.alto{
	height: 10%;
}
.ajustarTam{
	width: 100%;
	margin: 0%;
	padding: 0%;
}
.top-buffer{
	margin-top: 5%;
}

.fondo
{
	background-color:#000000; 
}
.letra
{
	font-family: sans-serif;
	color:#281AA5;
}
.borde
{
	border-style:none;
}
.margen
{
	padding-right: 0%;
	padding-left: 0%;
}
.alto
{
	margin-top: 0%;
	margin-bottom: 0%; 
}
.titulo
{
	font-size: 30%;
	
}
.panel-title
{
	font: sans-serif;
}
.navbar{
	min-height: 43px;
}
.margin-b
{
	margin-bottom: 2%;
}
.container
{
	  width: 1356px;
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------FOOTER---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#contenedorFooter
{
	
	width: 100%;
	background-color: rgba(101,167,57,0.5);
	box-shadow: 0px 0px 5px #fff;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 5px #fff; 
	display: inline-block;
}

.panelFooter
{
	width: 100%;
	float: left;
}

.itemPanelFooter
{
	width: 30%%;
	margin: auto;
}

.itemPanelFooter h3
{
	color: #000000;
}

.itemPanelFooter h3:hover
{
	color: #000000;
}

.itemPanelFooter p a
{
	text-decoration: none;
	color:#000000;
}

.itemPanelFooter p a:hover
{
	color: #000000;
}

.itemPanelFooter  .imgItemPanelFoter 
{
	float:left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.itemPanelFooter .enlace 
{
	text-decoration: none;
}

.itemPanelFooter  .enlace .textItemPanelFooter:hover
{
	color: #000000;
}

.itemPanelFooter  .textItemPanelFooter 
{
	color: #000000;
}

.itemPanelFooter  .imgItemPanelFoter img
{
	width: 100%;
}

#subFooter
{
	width: 100%;
	background: #333;
	margin-top:5px;
	display: inline-block;
}

.itemSubFooter
{
	width: 5%;
	float: left;
	padding: 5px 10px 5px 10px;
}

.itemSubFooter p
{
	color: #CCC;
}

.itemSubFooter #logoSubFooter
{
	float:left;
	width: 200px;
}

@media screen and (max-width:820px)
{
	#panelFooterServiciosHide
	{
		display: none;
	}
	
	#panelFooterNosotrosHide
	{
		display: none;
	}

	.panelFooter
	{
		float: none;
		width: 90%;
		margin:auto;
		text-align: left;
	}
	
	.itemSubFooter
	{
		width: 80%;
		float: none;
		margin:auto;
		padding: 5px 10px 5px 10px;
	}
	
	.itemSubFooter p
	{
		text-align: left;
	}
	
	.itemSubFooter #logoSubFooter
	{
		float: none;
		width: 200px;
		margin:auto,
	}
}
.otro{
		width: 30%;
	}